
{% load static %}

<html lang="pl-PL">
  <head>
    <meta charset="utf-8">

   {% block meta_tags %}
		<title>Product list PI Zjazd 2</title>
	{% endblock %}

    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/1573/1573145.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <style>
          body{
            background-image: url('https://i.pinimg.com/474x/e0/c3/73/e0c37353aed33c638aedcd57d21e3ce2.jpg');
          }
          #ProductListBody{
            background-color: #ffe1a8;
            max-width: 880px;
            width: 100%;
            margin: 30px auto;
            padding: 30px 0 50px 0;
            border-radius: 5px;
          }
      </style>
  </head>

    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60" onload="">
	{% block content %}

	{% endblock %}
    </body>

</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script>
function delete_product(pk) {
//console.log(pk);

    var full_url = "http://localhost:8000/api/product_details/" + pk;
    var product_container_id = "#product_container" + pk

    $.ajax({
      "url": full_url,
      "method": "DELETE",
      dataType: "json",
      success: $(product_container_id).hide(),
      error: (error) => {
        console.log(error);
      }
    });

}

function mark_product(pk, product_name, product_status) {
    console.log(pk);
    console.log(product_name);
    console.log(product_status);

    var full_url = "http://localhost:8000/api/product_details/" + pk;
    var product_bought_checkbox = "product_bought_checkbox" + pk;
    var product_not_bought_checkbox = "product_not_bought_checkbox" + pk;

    $.ajax({
      "url": full_url,
      "method": "PUT",
      "headers": {
        "Content-Type": "application/json"
      },
      "data": JSON.stringify({
        "name": product_name,
        "buyed": product_status
      }),
      "success": function(){
      if(product_status){
          document.getElementById(product_bought_checkbox).style.display = "block";
          document.getElementById(product_not_bought_checkbox).style.display = "none";
      }
      else{
          document.getElementById(product_bought_checkbox).style.display = "none";
          document.getElementById(product_not_bought_checkbox).style.display = "block";
      }
      },
      "error": (error) => {
        console.log(error);
      }
    });
    //console.log(product_bought_checkbox);
    //console.log(product_not_bought_checkbox);
}

function add_product() {

    var full_url = "http://localhost:8000/api/add_product";

    var product_name = document.getElementById("new_product").value;
    var product_container_HTML = `<div class="container text-center" id="product_container|product.id|">
      <div class="card mb-3" style="max-width: 700px;">
        <div class="row g-0">
          <div class="col-md-12">
            <div class="card-body">
              <div class="row d-flex justify-content-center align-items-center">
                <div class="col-8">
                  <h5 class="" style="visibility: hidden;">|product.id|</h5>
                  <h5 class="card-title">|product.name|</h5>
                </div>
                <div class="col-4">
                    <div class="row d-flex flex-column">
                    <div class="col-12">

                          <button id="product_bought_checkbox|product.id|"  style=" {% if product.buyed == True %} display: block; {% else %} display: none; {% endif %} min-width: 100px;" type="submit" class="btn btn-success mx-auto" onclick="mark_product(|product.id|, |product.name|, false)">&#10003;</button>

                          <button id="product_not_bought_checkbox|product.id|" style=" {% if product.buyed == True %} display: none; {% else %} display: block; {% endif %} min-width: 100px;" type="submit" class="btn btn-warning mx-auto" onclick="mark_product(|product.id|, |product.name|, true)">Kupione</button>

                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-danger mt-2" style="min-width: 100px;" onclick="delete_product(|product.id|)">Usuń</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>`;

    console.log(product_container_HTML);
    //console.log(product_name);
        if(product_name != "" && product_name != null){
            $.ajax({
          "url": full_url,
          "method": "POST",
          "headers": {
            "Content-Type": "application/json"
          },
          "data": JSON.stringify({
            "name": product_name,
            "buyed": false
          }),
          "success": function (response) {
              console.log(response.post.id);
              product_container_HTML = product_container_HTML.replaceAll("|product.id|", response.post.id)
              product_container_HTML = product_container_HTML.replaceAll("|product.name|", response.post.name)
              console.log(product_container_HTML);
          },
          "error": (error) => {
            console.log(error);
          }
        });
    }

}
</script>